// @import "../../styles/mediaQueries.scss";

@import "../../styles/mediaQueries.scss";


.container {

    display        : flex;
    flex-wrap      : wrap;
    align-items    : center;
    justify-content: center;

    .buttonContainer {

        display        : flex;
        flex-wrap      : wrap;
        align-items    : center;
        justify-content: center;
        width          : 75%;



        @include respond-below(phablet) {
            width: 95%;
        }

        button {
            width        : 65px;
            height       : 60px;
            padding      : 0;
            margin       : 12px;
            border       : none;
            cursor       : pointer;
            color        : #176ad7;
            font-size    : 30px;
            border-radius: 4px;
            background   : #E0EAFC;
            /* fallback for old browsers */
            background   : -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);
            /* Chrome 10-25, Safari 5.1-6 */
            background   : linear-gradient(to right, #CFDEF3, #E0EAFC);
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


            &:hover {
                box-shadow: 1px 1px 1px;
            }
        }

    }
}




.title {
    header {
        align-items    : center;
        display        : flex;
        justify-content: center;
        overflow       : hidden;
        position       : relative;
        padding        : 2rem 0;
    }

    h1,
    h3 {
        color     : white;
        margin    : 0;
        opacity   : 0;
        text-align: center;
    }

    h1 {
        animation      : fade-slide-down-rotate 2s 2s cubic-bezier(0, 0.5, 0, 1) forwards;
        animation-delay: 800ms;
        font-family    : 'Satisfy', cursive;
        font-size      : calc(6vw + 1vmin);
        font-weight    : 400;
        margin-bottom  : 2.5%;

        background             : linear-gradient(to top, #00ffff 1%, #ff66ff 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    h3 {
        animation      : fade-slide-up 3s 3s cubic-bezier(0, 0.5, 0, 1) forwards;
        animation-delay: 800ms;
        font-size      : calc(1vw + 0.8vmin);
        font-weight    : 300;
        letter-spacing : 0.5em;
        text-transform : uppercase;
        color          : black;

        span {
            color         : #A1E545;
            font-family   : 'Satisfy', cursive;
            font-size     : 2em;
            letter-spacing: 0;
            opacity       : 0.8;
            padding       : 0 0.25em;
            text-transform: none;
        }
    }

    @include respond-below(phablet) {
        h3 {
            font-size: calc(1.2vw + 1.2vmin);
        }

        h1 {
            font-size: calc(12vw + 1.2vmin);
        }
    }

    @keyframes fade-slide-down-rotate {
        0% {
            opacity  : 0;
            transform: translateY(-4rem);
        }

        100% {
            opacity  : 1;
            transform: rotate(-4deg);
        }
    }

    @keyframes fade-slide-up {
        0% {
            opacity  : 0;
            transform: translateY(4rem);
        }

        100% {
            opacity  : 1;
            transform: none;
        }
    }

}

.true {
    color: white !important;

    background: #76b852 !important;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8DC26F, #76b852) !important;
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8DC26F, #76b852) !important;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.false {
    color     : white !important;
    background: #EC6F66 !important;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F3A183, #EC6F66) !important;
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F3A183, #EC6F66) !important;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}